.input {
  padding-right: 56px;
}

.toggle {
  position: absolute;
  top: 16px;
  right: 18px;
  display: flex;
  color: var(--color-dark);
  transition: color 250ms ease;
}

.toggle:hover,
.toggle:focus-visible {
  color: var(--color-accent);
}
